@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.btn-primary {
    background-color: #8A7968 !important;
    border: none !important;
}
* {
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}
